.wrapper {
	text-align: right;
	width: auto;
	display: inline-block;
	position: absolute;
	right: 10px;
	top: 10px;
}

.wrapper > a {
	text-decoration: none;
}

.stats {
	background: rgba(50, 50, 50, 0.6);
	border-radius: 3px;
	line-height: 20px;
	font-size: 15px;
	color: white;
	padding: 5px;
}

.download {
	margin-right: 10px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 3px;
	line-height: 20px;
	font-size: 15px;
	color: white;
	padding: 5px;
}
